h4{
    font-size: 16px;
    letter-spacing: 1px;

}

.input{
    width: 80%;
    padding: 0.9rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2); 
}

.button{
    width: 87%;
    padding: 0.9rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    color: #ffffff;
    font-family: "roboto";
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    background-color: darkslategrey;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: palevioletred; /* Change to the desired color when hovering */
}

